@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .sequencer {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .channel {
    display: flex;
    margin-bottom: 10px;
  }
  
  .step {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: grey;
    border: none;
    outline: none;
  }
  
  .step.active {
    background-color: orange;
  }

  .step.active-playing {
    background-color: red;
  }

  .step.playing {
    background-color: lightgreen;
  }

  .column-indicator-wrapper {
    /* Add the following styles to position the column indicators at the bottom */
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .column-indicator {
    /* Add the following styles to style the column indicators */
    width: 12px;
    height: 12px;
    border-radius: 20%;
    background-color: grey;
    transition: background-color 0.2s ease-in-out;
    margin: 0 4px;
  }
  
  .column-indicator.playing {
    /* Add the following styles to change the color of the playing column indicator */
    background-color: lightgreen;
  }

  .column-separator {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 100%;
  }
  
  .separator-line {
    width: 2px;
    height: 40px;
    line-height: normal;
    background-color: black;
    flex-grow: 1;
    position: inherit;
  }